# Para que puedan funcionar todos los link amigables. 
 Options +FollowSymlinks
 # Se active toda la programacion que se manejara en este archivo.
 RewriteEngine On
 # Se define la ruta de la aplicacion, se inicia desde "htdocs" para servidores locales, para cuando son remotos:, revisar el archivo
 # /etc/apache2/sites-enabled/000-default.conf 
 RewriteBase /home/soporte/proyectos/tutoriales/servinext
 # Condicionales, -d = Directorio, -f = Archivo
 RewriteCond %{SCRIPT_FILENAME} ! -d
 RewriteCond %{SCRIPT_FILENAME} ! -f

 # Realiza la URL amigables
 ^ = Inicio 
 #(.*) = Es lo que reemplazara por el valor que se pasara por la URL, esta variable es la variable "r"
 # Se trabajara con una sola variable
 # [L] = Que reemplazara el valor en la sección ^(.*)
 Rewrite ^(.*)$ index.php?r=$1 [L]
# El estilo para llamar la pantallas del sistema:
# /home/proyectos/tutoriales/servinext/clientes
# /home/proyectos/tutoriales/servinext/proveedores
# /home/proyectos/tutoriales/servinext/sucursales
.....
