html
{
	/* 1.- Para que se mantenga el ancho definido, los "padding" no se altera su medidas
	forma recomendada de trabajar con el border-box
	*/

	box-sizing:border-box; 	

}
*, *:before, *::after
{
	box-sizing:inherit
}
*
{
	/* REseteando los margenes en el navegador.*/ 
	margin:0;
	padding:0;
}
body
{
	font-family:verdana,geneva,serif;
}
header
{
	padding: 20px 0;
}

/* 2.- Centrando el contenido principal */ 
div.contenedor
{
	width:1200px;
	margin:0 auto; /* Centrado */
}

/* 3.- Estilo de Navegación */

/* Se lo aplica al "DIV de navegacion " */
.navegacion
{
	background-color:#db008d;
}
nav
{
	width:1200px;
	margin: 0 auto;
	position:relative;
}
nav ul
{
	list-style:none; /* Elimina los circulos de alado */
}
nav > ul > li /*Seleccionar el primer nivel de UL y LI solamente*se crea el primer nivel del menú */
{
	float:left;
}

/* Ahora acomdando la imagen que se altero al utilizar "float" */
nav ul::after
{
	content:'';
	display:block;
	clear:both;
}
/* Estableciendo el ancho para cada opción del menú */
nav ul li a
{
	display:inline-block; /* Para aplicar el ancho a la opción del menu */
	width:200px;
	color:white; 
	text-decoration:none; /* Se elimina los subrayados a las opciones del menu */
	text-align:center; /* Centrar (dependiendo de la medidas del ancho del contenedor ) las opciones del menu */
	padding:20px; /* 20px por cada lado de las opciones del menu */
}
/* Cuando se pasa el raton en las opciones principales del menu, despliega un recuadro azul */
nav ul li a:hover
{
	background-color:#00b8e4; /* Color Azul */
}

/* Segundo nivel del menu */
nav ul ul
{
	position:absolute;
	top:100%;
	background-color:rgba(0,184,228,0.7);
	display:none; /* Desaparecen las opciones del sub menu */
}
/* Cuando se pase en raton encima de las opciones del submenu se despliege, que se active el primer hijo de la siguiente subopción */ 
nav ul li:hover > ul 
{
	display:block;
}
nav ul li:hover
{
	background-color:rgba(0,184,228,0.7);
}

/* **************************************************************/
/* Contenido principal
 Se divide la pantalla en dos columnas, la columna dos es aside  */
/* **************************************************************/
/* Se divide el selector "main" con "aside" */
main
{
	width:70%;
	float:left;
	padding-right:40px;
}
aside 
{
	width:30%;
	float:right;
}
div.contenido::after
{
	/* Se limpia el efecto float, para que "footer" quede en la parte de abajo */
	content:'';
	display:block;
	clear:both;
}
