html
{
	/* 1.- Para que se mantenga el ancho definido, los "padding" no se altera su medidas
	forma recomendada de trabajar con el border-box
	*/

	box-sizing:border-box; 	

}
*, *:before, *::after
{
	box-sizing:inherit
}
*
{
	/* REseteando los margenes en el navegador.*/ 
	margin:0;
	padding:0;
}
body
{
	font-family:verdana,geneva,serif;
}
header
{
	padding: 20px 0;
}

/* 2.- Centrando el contenido principal */ 
div.contenedor
{
	width:1100px;
	margin:0 auto; /* Centrado */
}

/* 3.- Estilo de Navegación */

/* Se lo aplica al "DIV de navegacion " */
.navegacion
{
	background-color:#db008d;
}
nav
{
	width:1100px;
	margin: 0 auto;
	position:relative;
}
nav ul
{
	list-style:none; /* Elimina los circulos de alado */
}
nav > ul > li /*Seleccionar el primer nivel de UL y LI solamente*se crea el primer nivel del menú */
{
	float:left;
}

/* Ahora acomdando la imagen que se altero al utilizar "float" */
nav ul::after
{
	content:'';
	display:block;
	clear:both;
}
/* Estableciendo el ancho para cada opción del menú */
nav ul li a
{
	display:inline-block; /* Para aplicar el ancho a la opción del menu */
	width:200px;
	color:white; 
	text-decoration:none; /* Se elimina los subrayados a las opciones del menu */
	text-align:center; /* Centrar (dependiendo de la medidas del ancho del contenedor ) las opciones del menu */
	padding:20px; /* 20px por cada lado de las opciones del menu */
}
/* Cuando se pasa el raton en las opciones principales del menu, despliega un recuadro azul */
nav ul li a:hover
{
	background-color:#00b8e4; /* Color Azul */
}

/* Segundo nivel del menu */
nav ul ul
{
	position:absolute;
	top:100%;
	background-color:rgba(0,184,228,0.7);
	display:none; /* Desaparecen las opciones del sub menu */
}
/* Cuando se pase en raton encima de las opciones del submenu se despliege, que se active el primer hijo de la siguiente subopción */ 
nav ul li:hover > ul 
{
	display:block;
}
nav ul li:hover
{
	background-color:rgba(0,184,228,0.7);
}

/* **************************************************************/
/* 	4.- Contenido principal

 		Se divide la pantalla en dos columnas, la columna dos es aside  */
/* **************************************************************/
/*	 Se divide el selector "main" con "aside" */
main
{
	width:70%;
	float:left;
	padding-right:40px;
}
div.contenido::after
{
	/* Se limpia el efecto float, para que "footer" quede en la parte de abajo */
	content:'';
	display:block;
	clear:both;
}

/* ********************************* */ 
/* 5.- Entradas del Blog - Articulos */ 
/* ********************************* */ 
article
{
	margin-top:30px;	
}
h2
{
	color:#00b8e4;
	margin-bottom:20px;
}
/* Moviendo las imagenes al lado izquierdo */
article img
{
	/* Al mover las imagenes, se desplaza parte del texto a la derecha y continua a la parte de abajo*/
	float:left;	
	width:300px;
	margin-right:30px;
}
article p
{
	line-height:2; /* Espacio entre renglones del articulo*/
	text-align:justify;
}
/* se forma un rectangulo de color azul en los enlaces con clase "boton"*/ 
.boton
{
	background-color:#00b8e4;
	padding:10px 30px;
	display:inline-block;
	margin-top:10px;
	font-weight:bold;
	color:#ffffff; /* Color Blanco */
	text-transform:uppercase;
	text-decoration:none;

}

/*****************************************/
/* 5.- Aplicando estilos al "aside" */
/***************************************/
aside 
{
	margin-top:30px;
	width:30%;
	float:right;	
}

aside ul
{
	list-style:none;	
}
aside ul li
{
	padding: 10px 0 10px 10px;
}
aside ul li:hover
{
	background-color:#00b8e4;
	cursor:pointer; /* Cursor de forma de mano*/
}
aside ul li a
{
	color:#00b8e4;
	text-decoration:none; /* Elimina el subrayado de las opciones del menu */
}

/* Cuando se pase el cursos en las opciones del menu (li), le asigna el color blanco */ 
aside ul li:hover a
{
	color:#ffffff; /* Color de las fuentes de las opciones del menu */
}

