/* Background
	Para agregar un color de Fondo en la página
	Para evitar los margenes Collapse (Cuando se sopan los margenes), es mejor utilizar el "padding-bottom:??px

	/* Para evitar el colapso de imagenes, se eescribe esta instrucción , ahora se puede visualizar el recuadro blanco, con la asignacion en el Footer */
	overflow:hidden;
	
	/* Para el colapso de margenes se recomiendo margin a para los lados y arriba, pero abajo usar "padding-bottom" */

*/ 
body
{
	background:gray;
}

div.contenedor
{
	background:white;
	/* Este tamaño cuando se define menor todos los componentes internos se reajustan */ 
	width:1000px; 
	margin-top:10px;
	margin-left:auto;
	margin-right:auto;
	/* 	margin: arriba, derecha, abajo, Izq = Forma en una sola linea 
	margin :10px auto 0 auto
	*/
	/* Para evitar el colapso de imagenes, se eescribe esta instrucción , ahora se puede visualizar el recuadro blanco, con la asignacion en el Footer */
	overflow:hidden;

	/* Para el colapso de margenes se recomiendo margin a para los lados y arriba, pero abajo usar "padding-bottom" */

}

header
{
	background:orange;
	margin-bottom:30px;
		/* Espacio interno de la etiqueta, es decir son 40 pixeles del texto al limite de la etiqueta. */

	padding-top:20px;
	padding-bottom:20px;
	/* padding: 20px 0 0 0*/
	/* padding: arriba, derecha, abajo, Izq = Forma en una sola linea */	
 
	/*  Este se refiere a la altura del header.
	 height:100vh; 
			height:100vw;
	*/

}

nav.navegacion
{
	background:purple;
	height:130px; /* Altura de la etiqueta NAV */
	padding-top :90px; /* Espacio interno de la etiqueta, es decir son 40 pixeles del texto al limite de la etiqueta. */
	margin-top:40px; /* Margen exterior, comienza a partir de la etiqueta "NAV" */
}

/* Se utiliza para remover el padding asignado anteriormente */ 
nav ul
{
	padding:0;
}

table
{
	background:cyan;	
	/* width:600px;*/
	width:50%; /* Del ancho definido en el DIV principal "Contenedor" */
	/* La separación la realliza con el Footer no con el contenidor, se debe ver Blanco que es el "Contenedor", lo que esta pasando se le llama COLAPSO DE MARGENES. */
	margin-bottom:100px;
}

/* Separacion entre los renglones de las tablas. */
tbody tr td
{
	padding-top:5px;
	padding-bottom:5px;
}

footer
{
	background:orange;
	margin-top:30px;
	padding-top:20px;
}

footer nav
{
	background:red;
	/* background:transparent; = desactiva el color de fondo */
}

img.logocss
{
	width:120px;
}

h2
{
	margin-bottom:10px;
	/* Se puede manejar por % en lugar de pixels px */
}

