html
{
	box-sizing:border-box;	
}

*, *:before, *:after
{
	/* Hereda lo de la etiqueta "html"*/
	box-sizing:inherit;	
}

*
{
	margin:0;
	padding:0;
}

body
{
		font-family:arial,helvetica,sans-serif;
}

header
{
	text-align:center;
	padding:20px 0; /* 20px arriba y abajo solamente */	
}
.contenedor
{
	margin: 0 auto;
	width:800px;
}